body {
  font-family: monospace;
  background-color: white;
  height: 500px;
  width: 500px;
}

hr {
  display: block;
  width: 50%;
}

main {
  display: grid;
  gap: 1rem;
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.tabs {
  flex-direction: column-reverse;
}

.tabs-list {
  display: grid;
  gap: 1rem;
}

.row {
  align-items: baseline;
  display: grid;
  grid-template-columns: auto 5rem;
  gap: 1rem;
  width: 100%;
}

fieldset {
  border: 1px outset lightgray;
  display: grid;
  margin: 0;
}

legend {
  font-weight: bold;
}

label {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  padding: 0.5rem 0.25rem;
  font-size: 12px;
  line-height: 1.4;
}

label:hover {
  background-color: rgba(0,50,10,0.05);
  cursor: pointer;
}

label input[type="checkbox"] {
  order: -1;
  transform: translateY(0.2rem);
}

input[type="url"] {
}

input[type="url"]:not(:placeholder-shown):invalid {
  outline: 2px solid red;
}

button {
  background-color: #fafafa;
  border-color: #f1f1f1;
  border-radius: 0.2rem;
  padding: 0.5rem 0.25rem;
  cursor: pointer;
  font: inherit;
}

button.gren-invert {
  color: green;
}

button.green {
  background-color: #05A134;
  border-color: darkgreen;
}

button.gray {
  color: #aa0000;
}

.input-add {
  flex: 1 100%;
  border-radius: 0.2rem;
  padding: 0.5rem 0.25rem;
  font: inherit;
}
